html body {
	/* height: 100%; */
    width: 100%;
	margin: 0;
	padding: 0;
    font-size: 100px;
    height: 100%;
    /* background-color: #ffffff; */
    background-color:#F1F1F1;
}
@media only screen and (max-width: 750px) {
    html body {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 52px;
        /* background-color: #000000; */
    }
}

@font-face {
    font-family: PingFangSC-Regular;
    src: url('./PingFangSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Alibaba-PuHuiTi-B;
    src: url('./Alibaba-PuHuiTi-B.ttf') format('truetype');
}
@font-face {
    font-family: Alibaba-PuHuiTi-R;
    src: url('./Alibaba-PuHuiTi-Regular.ttf') format('truetype');
}
/* @font-face {
    font-family: Alibaba-PuHuiTi-H;
    src: url('./Alibaba-PuHuiTi-H.ttf') format('truetype');
} */
@font-face {
    font-family: Alibaba-PuHuiTi-M;
    src: url('./Alibaba-PuHuiTi-Medium.ttf') format('truetype');
}

@font-face {
    font-family: PingFangSC-Regular;
    src: url('./PingFangSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Womby-Regular;
    src: url('./Womby-Regular-3.ttf') format('truetype');
}
/* @font-face {
    font-family: YouSheBiaoTiYuan;
    src: url('./优设标题圆.otf') format('truetype');
}*/
 @font-face {
    font-family: YouSheBiaoTiYuan;
    src: url("./优设标题圆.otf");
    /* src: url('./优设标题圆.otf') ; */
}
/* @font-face {
    font-family: GraublauWeb;
    src: url("../../assets/otf/111.otf");
  } */

/* font-family: GraublauWeb;
  src: url("../../assets/otf/111.otf");
} */
::marker {
    color: #6A008E;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

/* .tvps-font {
   font-family: 'DINCond';
} */


/* .web-font {
  font-family: "PangMenZhengDao" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* .el-input__inner{
    border: 1px solid #ffffff;
}
.el-button{
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.el-breadcrumb {
	padding: 0 0 20px 0;
}

.el-radio__inner {
	border: 1px solid #a63928 !important;
}

.el-radio__label {
    float: left !important;
    width: 7rem !important;
    padding-left: 5px;
    font-weight: 600;
    color: #999999;
    font-size: 1rem;
    font-family:PingFangSC-Regular;
}

.el-radio__input.is-checked .el-radio__inner {
	background-color: #ffffff;
}
.el-select-dropdown__item {
	border-bottom: 1px solid #eeeeee;
    height: 3rem;
    line-height: 3rem;
}
.el-step__icon.is-text {
	border: 0;
	width: 45px;
}
.el-step.is-horizontal .el-step__line {
	height: 1px;
}
.el-step__line {
	background-color: #ededed;
}
.el-radio__input.is-checked + .el-radio__label {
    color: #999999 !important;
}
.el-radio__inner::after{

    width: 6px;
    height: 6px;
    background-color: #a63928;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: #ffffff;
}
.el-popper .popper__arrow {
    border-width: 1px;

}

.el-popper[x-placement^=bottom] .popper__arrow{
    top: 0 !important;
}
.el-select {
    -webkit-tap-highlight-color: #ffffff !important;
} */
