html body {
	/* height: 100%; */
    width: 100%;
	margin: 0;
	padding: 0;
    font-size: 100px;
    height: 100%;
    /* background-color: #ffffff; */
    background-color:#F1F1F1;
    overflow-x:hidden
}
@media only screen and (max-width: 750px) {
    html body {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 52px;
        background-color: #F8F8F8;
    }
}

/* @font-face {
    font-family: Futura-Bold;
    src: url('./Futura.ttc');
} */
@font-face {
    font-family: Futura;
    src: url('./Futura.ttc');
}

@font-face {
    font-family: PingFangSC-Regular;
    src: url('./PingFangSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Alibaba-PuHuiTi-B;
    src: url('./Alibaba-PuHuiTi-B.ttf') format('truetype');
}
@font-face {
    font-family: Alibaba-PuHuiTi-R;
    src: url('./Alibaba-PuHuiTi-Regular.ttf') format('truetype');
}
/* @font-face {
    font-family: Alibaba-PuHuiTi-H;
    src: url('./Alibaba-PuHuiTi-H.ttf') format('truetype');
} */
@font-face {
    font-family: Alibaba-PuHuiTi-M;
    src: url('./Alibaba-PuHuiTi-Medium.ttf') format('truetype');
}

@font-face {
    font-family: PingFangSC-Regular;
    src: url('./PingFangSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Womby-Regular;
    src: url('./Womby-Regular-3.ttf') format('truetype');
}
@font-face {
    /* font-family: 'Womby'; */
    font-family: Womby-Regular;
    src: url('./Womby-Regular.eot');
    src: url('./Womby-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Womby-Regular.woff2') format('woff2'),
        url('./Womby-Regular.woff') format('woff'),
        url('./Womby-Regular.ttf') format('truetype'),
        url('./Womby-Regular.svg#Womby-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba PuHuiTi B';
    src: url('./Alibaba-PuHuiTi-B.eot');
    src: url('./Alibaba-PuHuiTi-B.eot?#iefix') format('embedded-opentype'),
        url('./Alibaba-PuHuiTi-B.woff2') format('woff2'),
        url('./Alibaba-PuHuiTi-B.woff') format('woff'),
        url('./Alibaba-PuHuiTi-B.ttf') format('truetype'),
        url('./Alibaba-PuHuiTi-B.svg#Alibaba-PuHuiTi-B') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba-PuHuiTi-R';
    src: url('./Alibaba-PuHuiTi-R.eot');
    src: url('./Alibaba-PuHuiTi-R.eot?#iefix') format('embedded-opentype'),
        url('./Alibaba-PuHuiTi-R.woff2') format('woff2'),
        url('./Alibaba-PuHuiTi-R.woff') format('woff'),
        url('./Alibaba-PuHuiTi-R.ttf') format('truetype'),
        url('./Alibaba-PuHuiTi-R.svg#Alibaba-PuHuiTi-R') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: YouSheBiaoTiYuan;
    src: url('./优设标题圆.otf') format('truetype');
}*/
 @font-face {
    font-family: YouSheBiaoTiYuan;
    src: url("./优设标题圆.otf");
}
/* @font-face {
    font-family: GraublauWeb;
    src: url("../../assets/otf/111.otf");
  } */

/* font-family: GraublauWeb;
  src: url("../../assets/otf/111.otf");
} */
::marker {
    color: #6A008E;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

/* .tvps-font {
   font-family: 'DINCond';
} */
.el-select-dropdown {
    width: 2.30rem;
    /* min-height: 1.36rem; */
    background: #FFFFFF;
    border-radius: .32rem;
    border: none;
}
@media (max-width:750px) {
    .el-select-dropdown {
        width: 2.44rem;
    }
    .el-radio__label{
        width: 1.68rem;
        font-size: 0.26rem;
        margin-right: 0.16rem;
    }
    .el-input {
        display: block;
    }
    .el-radio__inner::after{
        width: 0.2rem;
        height: 0.2rem;
        background-image: url('houtai/img/首页/编组 12@3x.png');
        background-size: 100% 100%;
        border: none;
    }
}
.el-popper .popper__arrow {
    border-width: 0;
}
.el-popper .popper__arrow::after{
    border-width: 0px;
}
.el-select-dropdown__wrap{
    /* height: 1.36rem;
    min-height: 1.36rem; */
}
.el-scrollbar{
    /* height: 1.36rem;
    min-height: 1.36rem; */
}
.el-select-dropdown__list{
    /* height: 1.36rem;
    min-height: 1.36rem; */
    padding:0;
}
.el-select-dropdown__item{
    height: 0.675rem;
    line-height: 0.675rem;
    border-bottom: 0.01rem solid #eeeeee;
    padding: 0 0.2rem;
}
.el-select-dropdown__item{
    /* height: 0.675rem;
    line-height: 0.675rem; */
    /* border-bottom: none; */
}
.el-select-dropdown__item:last-child {
  /* border-bottom: 1px solid #EEEEEE;*/
    border-bottom: none;
}

/* .web-font {
  font-family: "PangMenZhengDao" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* .el-input__inner{
    border: 1px solid #ffffff;
}
.el-button{
    border: 1px solid #ffffff;
    border-radius: 20px;
}
 */

.el-breadcrumb {
	padding: 0 0 0.020rem 0;
}

.el-radio, .el-radio__input{
    line-height: normal;
}
.el-radio__inner {
	/* border: 0.01rem solid #a63928 !important; */
	border: 0.01rem solid ;
    /* background-image: linear-gradient(
					-60deg,
					#6af0e9 0%,
					#edafff 100%
				);

        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(
                to right,
                #ffffff,
                #ffffff
            ),
        linear-gradient(90deg, #e5b3fd, #7de7ec); */
        /* background-image: url('houtai/img/首页/编组 12@3x.png');
        background-size: 100% 100%;
        border: none; */
}

.el-radio__label {
    float: left !important;
    /* width: 0.2rem !important;
    padding-left: 0.05rem;
    font-weight: 600;
    color: #999999;
    font-size: 0.32rem; */
    font-family:PingFangSC-Regular;
    width: 1.30rem;
    height: .28re,;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    font-size: .20rem;
    color: #999999;
    margin-right: 0.4rem;
    padding: 0;
}

.el-radio__input.is-checked .el-radio__inner {
    background-color: inherit;
    border-color: inherit;
    background: inherit;
}

.el-radio__input.is-checked + .el-radio__label {
    color: #999999 !important;
}
.el-radio__inner::after{
    width: 0.2rem;
    height: 0.2rem;
    background-image: url('houtai/img/首页/编组 12@3x.png');
    background-size: 100% 100%;
    border: none;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: inherit;
}
.el-popper .popper__arrow {
    border-width: 1px;
}

.el-popper[x-placement^=bottom] .popper__arrow{
    top: 0 !important;
}
.el-select {
    -webkit-tap-highlight-color: #ffffff !important;
}


